# Conda environment
networksec_env/

# Python cache
__pycache__/
*.py[cod]

# Build artifacts
build/
dist/
*.egg-info/

#Credential
mongoDB_cred.py


# Virtual environments
.venv/
venv/

# IDE
.vscode/

# Environment variables
artifacts/
logs/
*.csv
*.pkl
.env
